*{
    box-sizing:border-box;
}

body{
    background-color: #efefea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    height: 200px;
    width: 400px;
    display: flex;
    background-color: #6656ad;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translateX(300%);
    transition: transform 0.5s ease-in-out;
}

.box:nth-of-type(even){
    transform: translateX(-300%);
}
.box.show{
    transform: translateX(0);
}
h2{
    font-size: 40px;
}